{% extends 'base.html.twig' %}


{% block title %}Ajouter un média{% endblock %}

{% block body %}

<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header">
            <legend>Ajouter un média</legend>
        </div>

        {{include('media/_media_form.html.twig')}}

   </div>
{% endblock %}