<h1>Finalisez la création de votre compte Snowtricks !</h1>

<p>
    Félicitation pour la création de votre compte sur Snowtricks ! <a href="http://snowtricks.test/verify_user/?fullName={{fullName}}">Finaliser cette étape en cliquant sur ce lien suivant</a> !
</p>

<p>
    Cheers!
    La communauté Snowtricks.
</p>
