
    <div class="box-body">
        {{ form_start(form) }}
        <div class="part mb-2" style="display: flex; justify-content: space-around; margin-bottom: 2em;">
            <div class="form-group row">
                    {{ form_row(form.content) }}
            </div>
        </div>

        <div class="button">
            <button type="submit" class="btn btn-primary">Demander la publication</button>
        </div>

        {{ form_end(form) }}
    </div>
