{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle catégorie{% endblock %}

{% block body %}
<div id="cateForm">
    <h3>Créer une nouvelle catégorie</h3>
</div>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('index') }}">List des tricks</a>
{% endblock %}
