{% extends 'base.html.twig' %}



{% block body %}


  <div class="list-group">
    <div class="list-group-item list-group-item-action flex-column align-items-start active">
    <h1>{{trick.name}}</h1>
    <div class="imgCarouss">
      <div class="imgprinc">

      </div>
        <ul class="pagination pagination-lg">
          <li class="page-item disabled">
            <a class="page-link" href="#">&laquo;</a>
          </li>

          {% for img in trick.medias %} 
            <li class="page-item active">
              <a class="page-link" href="#"><img src="{{ asset(img.mediaPath) }}"></a>
            </li>
          {% endfor %}


          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">5</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">&raquo;</a>
          </li>
        </ul>
      </div>

      <div class="d-flex w-100 justify-content-between">
        <h3>Description</h3>
        <p> {{trick.content}} </p>
      </div>
    </div>

    <div class="form-group">
      {% include 'comment/_comment_form.html.twig' with {'form': form} %}
    </div>

    {% for comment in comments %}
      {% include 'comment/_comment_thread.html.twig' with {'comment': comment} %}
    {% endfor %} 

  </div>

{% endblock %}