{% extends 'base.html.twig' %}


{% block title %}Éditer une figure{% endblock %}

{% block body %}

<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header">
            <h4 class="box-title">Mettre à jour</h4>
        </div>

        {{include('trick/_trick_form.html.twig')}}

    </div>
{% endblock %}